[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
pytest-django = "*"
django-filter = "*"
drf-yasg = "*"
pre-commit = "*"
pylint-django = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
setuptools = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pyjwt = "*"
autoflake = "*"
gunicorn = "*"
whitenoise = "*"
coverage = "*"
codecov = "*"
django-extensions = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
black = "*"
isort = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
